h1, h2 {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

div {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: rgb(212, 212, 212);
}

button {
    font-family: "Neuton", serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid;
    padding: 10px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
}

button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}